<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="container-fluid">

    <a
      class="navbar-brand"
      routerLink="/"
    >
      🔮 Tienda Esotérica
    </a>

    <div class="d-flex gap-2 flex-wrap">

      <!-- SI NO ESTÁ LOGUEADO -->

      <ng-container *ngIf="!auth.isLoggedIn()">

        <a
          class="btn btn-outline-light"
          routerLink="/login"
        >
          Login
        </a>

        <a
          class="btn btn-warning"
          routerLink="/register"
        >
          Registro
        </a>

      </ng-container>

      <!-- SI ESTÁ LOGUEADO -->

      <ng-container *ngIf="auth.isLoggedIn()">

        <a
          class="btn btn-outline-light"
          routerLink="/productos"
        >
          Productos
        </a>

        <a
          class="btn btn-outline-light"
          routerLink="/carrito"
        >
          🛒 Carrito ({{ cantidad }})
        </a>
        <a
         *ngIf="auth.isAdmin()"
          class="btn btn-warning"
          routerLink="/admin"
          >
          Admin
          </a>

        <span class="btn btn-success">

          👤 {{ auth.getUsuario()?.nombre }}

        </span>

        <button
          class="btn btn-danger"
          (click)="logout()"
        >
          Logout
        </button>

      </ng-container>

    </div>

  </div>

</nav>